@{
    ViewBag.Title = "Главная";
}

<div class="jumbotron" style="padding-top:112px;padding-bottom:16px;">
    <h1 class="text-light">TOYOTA SIENNA 2021 HYBRID</h1>
    <p><a href="/Home/Specification" class="btn btn-primary btn-lg">Характеристики &raquo;</a></p>
    <p class="lead text-light">Гибридный минивэн на 8 мест 2021 года. Высокая мощьность - 245 л.с., низкий расход топлива - 6.7 л./100 км.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Дизайн</h2>
        <p>
            Дизайнеры микроавтобуса, при создании,
            вдохновлялись японскими скоростными поездами.
            Снаружи Сиена напористая во всех отношениях, а
            внутри просторная кабина наполненная премиальным функционалом.
        </p>
        <p><a class="btn btn-default" href="/Home/Design">3D тур &raquo;</a></p>
    </div>
    <div class="col-md-4" id="index_collage">
        
    </div>
    <div class="col-md-4">
        <h2>Реальные фото</h2>
        <p>Фотографии и видео реального автомобиля в наличии</p>
        <p><a class="btn btn-default" href="/Home/Photo">Смотреть &raquo;</a></p>
    </div>
</div>