
@{
    ViewBag.Title = "Specification";
}

<h2>Микроавтобус Тойота Сиена 2021 LE AWD - Технические Характеристики</h2>
<div class="container">
    <h3>Размеры</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col"><img src="~/Images/sih.png" width="151" height="62" /></th>
                <th scope="col">2021 LE AWD</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Длинна мм</th>
                <td>5175</td>

            </tr>
            <tr>
                <th scope="row">Ширина мм</th>
                <td>1995</td>

            </tr>
            <tr>
                <th scope="row">Высота мм</th>
                <td>1775</td>
            </tr>
            <tr>
                <th scope="row">Колесная база мм</th>
                <td>3060</td>
            </tr>
            <tr>
                <th scope="row">Кол-во сидений</th>
                <td>8</td>
            </tr>
            <tr>
                <th scope="row">Дорожный просвет мм</th>
                <td>162</td>
            </tr>
            <tr>
                <th scope="row">Передний ряд <span data-toggle="tooltip" tabindex="0" data-placement="top" data-trigger="focus hover" title="Расстояние от сиденья до потолка">Headroom<sup>*</sup></span> мм</th>
                <td>1018</td>
            </tr>
            <tr>
                <th scope="row">Второй ряд <span data-toggle="tooltip" tabindex="0" data-trigger="focus hover" data-placement="top" title="Расстояние от сиденья до потолка">Headroom<sup>*</sup></span> мм</th>
                <td>998</td>
            </tr>
            <tr>
                <th scope="row">Третий ряд <span data-toggle="tooltip" tabindex="0" data-trigger="focus hover" data-placement="top" title="Расстояние от сиденья до потолка">Headroom<sup>*</sup></span> мм</th>
                <td>949</td>
            </tr>
            <tr>
                <th scope="row">Передний ряд расстояние для ног мм</th>
                <td>1024</td>
            </tr>
            <tr>
                <th scope="row">Второй ряд расстояние для ног мм</th>
                <td>1015</td>
            </tr>
            <tr>
                <th scope="row">Третий ряд расстояние для ног мм</th>
                <td>982</td>
            </tr>
            <tr>
                <th scope="row">Передний ряд ширина на уровне плечей мм</th>
                <td>1585</td>
            </tr>
            <tr>
                <th scope="row">Второй ряд ширина на уровне плечей мм</th>
                <td>1592</td>
            </tr>
            <tr>
                <th scope="row">Третий ряд ширина на уровне плечей мм</th>
                <td>1485</td>
            </tr>
            <tr>
                <th scope="row">Полная снаряженная масса кг</th>
                <td>2798.67</td>
            </tr>
            <tr>
                <th scope="row">Буксировочная масса кг</th>
                <td>1585</td>
            </tr>
            <tr>
                <th scope="row">Полезная нагрузка кг</th>
                <td>649</td>
            </tr>
            <tr>
                <th scope="row">Масса автомобиля кг</th>
                <td>2150.03</td>
            </tr>
            <tr>
                <th scope="row">Объем бензобака л</th>
                <td>68</td>
            </tr>
            <tr>
                <th scope="row">Расход топлива Город/Шоссе/Смешанный л/100км</th>
                <td>6.8/6.6/6.7</td>
            </tr>
            <tr>
                <th scope="row">Мощьность двигателя л.с (кВт)</th>
                <td>245 (183)</td>
            </tr>
            <tr>
                <th scope="row">Коэфициент сопротивления</th>
                <td>0.28</td>
            </tr>
            <tr>
                <th scope="row">Угол подъема градус</th>
                <td>36</td>
            </tr>
            <tr>
                <th scope="row">Объем багажа за 1 рядом л</th>
                <td>2860</td>
            </tr>
            <tr>
                <th scope="row">Объем багажа за 2 рядом л</th>
                <td>2129</td>
            </tr>
            <tr>
                <th scope="row">Объем багажа за 3 рядом л</th>
                <td>949</td>
            </tr>
            <tr>
                <th scope="col"><h3>Двигатель</h3></th>
                <th scope="col"></th>
            </tr>
            <tr>
                <th scope="col"><img src="~/Images/sih.png" width="151" height="62" /></th>
                <th scope="col">2021 LE AWD</th>
            </tr>
            <tr>
                <th scope="row">Интелектуальная электрически управляемая система газораспределения на входном кулачке (VVT-iE)</th>
                <td><span class="text-success">Стандарт для данной модели</span></td>

            </tr>
            <tr>
                <th scope="row">Интелектуальная система газораспределения на выпускном кулачке (VVT-i)</th>
                <td><span class="text-success">Стандарт для данной модели</span></td>

            </tr>
            <tr>
                <th scope="row">Прямой впрыск D4-S</th>
                <td><span class="text-success">Стандарт для данной модели</span></td>
            </tr>
            <tr>
                <th scope="row">2.5 литров 4 цилиндра DOHC 16 клапанов</th>
                <td><span class="text-success">Стандарт для данной модели</span></td>
            </tr>
            <tr>
                <th scope="row">Насадка на выхлопную</th>
                <td><span class="text-success">Стандарт для данной модели</span></td>
            </tr>
            <tr>
                <th scope="row">Гибридный синергетический привод</th>
                <td><span class="text-success">Стандарт для данной модели</span></td>
            </tr>
            <tr>
                <th scope="row">Электонный подключаемый полный привод</th>
                <td><span class="text-success">Стандарт для данной модели</span></td>
            </tr>
            <tr>
                <th scope="col"><h3>Подвеска</h3></th>
                <th scope="col"></th>
            </tr>
            <tr>
                <th scope="col"><img src="~/Images/sih.png" width="151" height="62" /></th>
                <th scope="col">2021 LE AWD</th>
            </tr>
            <tr>
                <th scope="row">Передние и задние стабилизаторы поперечной устойчивости</th>
                <td><span class="text-success">Стандарт для данной модели</span></td>
            </tr>
            <tr>
                <th scope="col"><h3>Тормозная система</h3></th>
                <th scope="col"></th>
            </tr>
            <tr>
                <th scope="col"><img src="~/Images/sih.png" width="151" height="62" /></th>
                <th scope="col">2021 LE AWD</th>
            </tr>
            <tr>
                <th scope="row">Электрический стояночный тормоз</th>
                <td><span class="text-success">Стандарт для данной модели</span></td>
            </tr>
            <tr>
                <th scope="row">Передние дисковые тормоза</th>
                <td><span class="text-success">Стандарт для данной модели</span></td>
            </tr>
            <tr>
                <th scope="row">Задние дисковые тормоза</th>
                <td><span class="text-success">Стандарт для данной модели</span></td>
            </tr>
            <tr>
                <th scope="col"><h3>Рулевое управление</h3></th>
                <th scope="col"></th>
            </tr>
            <tr>
                <th scope="col"><img src="~/Images/sih.png" width="151" height="62" /></th>
                <th scope="col">2021 LE AWD</th>
            </tr>
            <tr>
                <th scope="row">Электрический усилитель рулевого управления (EPS)</th>
                <td><span class="text-success">Стандарт для данной модели</span></td>
            </tr>
            <tr>
                <th scope="col"><h3>Трансмиссия</h3></th>
                <th scope="col"></th>
            </tr>
            <tr>
                <th scope="col"><img src="~/Images/sih.png" width="151" height="62" /></th>
                <th scope="col">2021 LE AWD</th>
            </tr>
            <tr>
                <th scope="row">Бесступенчатая коробка передач с электронным управлением (ECVT)</th>
                <td><span class="text-success">Стандарт для данной модели</span></td>
            </tr>
            <tr>
                <th scope="col"><h3>Безопасность</h3></th>
                <th scope="col"></th>
            </tr>
            <tr>
                <th scope="col"><img src="~/Images/sih.png" width="151" height="62" /></th>
                <th scope="col">2021 LE AWD</th>
            </tr>
            <tr>
                <th scope="row">Датчик слепых зон с предупреждением о перекресном движении сзади</th>
                <td><span class="text-success">Стандарт для данной модели</span></td>
            </tr>
            <tr>
                <th scope="row">Камера заднего вида</th>
                <td><span class="text-success">Стандарт для данной модели</span></td>
            </tr>
            <tr>
                <th scope="row">Боковые воздушные подушки безопасности для передних сидений</th>
                <td><span class="text-success">Стандарт для данной модели</span></td>
            </tr>
            <tr>
                <th scope="row">Замки на задних дверях с блокировкой от детей</th>
                <td><span class="text-success">Стандарт для данной модели</span></td>
            </tr>
            <tr>
                <th scope="row">Воздушная подушка безопасности для коленей водителя</th>
                <td><span class="text-success">Стандарт для данной модели</span></td>
            </tr>
            <tr>
                <th scope="row">Воздушная подушка безопасности переднего пассажира (SRS)</th>
                <td><span class="text-success">Стандарт для данной модели</span></td>
            </tr>
            <tr>
                <th scope="row">Боковые воздушные подушки безопасности для второго ряда сидений</th>
                <td><span class="text-success">Стандарт для данной модели</span></td>
            </tr>
            <tr>
                <th scope="row">Боковые шторки безопасности</th>
                <td><span class="text-success">Стандарт для данной модели</span></td>
            </tr>
            <tr>
                <th scope="row">Воздушная подушка безопасности водителя (SRS)</th>
                <td><span class="text-success">Стандарт для данной модели</span></td>
            </tr>
            <tr>
                <th scope="row">Ремни для детских сидений (Середина: 3, Зад: 2)</th>
                <td><span class="text-success">Стандарт для данной модели</span></td>
            </tr>
            <tr>
                <th scope="row">Воздушная подушка безопасности водителя (SRS)</th>
                <td><span class="text-success">Стандарт для данной модели</span></td>
            </tr>
            <tr>
                <th scope="col"><h3>Охранная система</h3></th>
                <th scope="col"></th>
            </tr>
            <tr>
                <th scope="col"><img src="~/Images/sih.png" width="151" height="62" /></th>
                <th scope="col">2021 LE AWD</th>
            </tr>
            <tr>
                <th scope="row">Иммобилайзер двигателя</th>
                <td><span class="text-success">Стандарт для данной модели</span></td>
            </tr>
            <tr>
                <th scope="col"><h3>Система предупреждения</h3></th>
                <th scope="col"></th>
            </tr>
            <tr>
                <th scope="col"><img src="~/Images/sih.png" width="151" height="62" /></th>
                <th scope="col">2021 LE AWD</th>
            </tr>
            <tr>
                <th scope="row">Датчики давления на каждое колесо</th>
                <td><span class="text-success">Стандарт для данной модели</span></td>
            </tr>
            <tr>
                <th scope="col"><h3>STAR SAFETY SYSTEM</h3></th>
                <th scope="col"></th>
            </tr>
            <tr>
                <th scope="col"><img src="~/Images/sih.png" width="151" height="62" /></th>
                <th scope="col">2021 LE AWD</th>
            </tr>
            <tr>
                <th scope="row"><span data-toggle="tooltip" tabindex="0" data-trigger="focus hover" data-placement="top" title="Отключение акселератора при одновременном нажатии на педаль газа и тормоза">Технология умной остановки<sup>*</sup> (SST)</span>, Система стабилизации автомобиля (VSC), Анти-блокировочная система (ABS), Анти-пробуксовочная система (TRAC), Система распределения тормозных усилий (EBD), Система для аварийного торможения (BA)</th>
                <td><span class="text-success">Стандарт для данной модели</span></td>
            </tr>
            <tr>
                <th scope="col"><h3>Комфорт</h3></th>
                <th scope="col"></th>
            </tr>
            <tr>
                <th scope="col"><img src="~/Images/sih.png" width="151" height="62" /></th>
                <th scope="col">2021 LE AWD</th>
            </tr>
            <tr>
                <th scope="row">Кнопка старта двигателя</th>
                <td><span class="text-success">Стандарт для данной модели</span></td>
            </tr>
            <tr>
                <th scope="row">Отсек для хранения монет у водителя</th>
                <td><span class="text-success">Стандарт для данной модели</span></td>
            </tr>
            <tr>
                <th scope="row">Защита от солнца на сдвижных дверях</th>
                <td><span class="text-success">Стандарт для данной модели</span></td>
            </tr>
            <tr>
                <th scope="row">Передний ряд 6 подстаканников,второй ряд 6 подстаканников, третий ряд 3 подстаканника</th>
                <td><span class="text-success">Стандарт для данной модели</span></td>
            </tr>
            <tr>
                <th scope="row">Автоматические сдвижные двери с двух сторон</th>
                <td><span class="text-success">Стандарт для данной модели</span></td>
            </tr>
            <tr>
                <th scope="row">Вспомогательные ручки (Передний пассажир: 1, второй ряд: 4)</th>
                <td><span class="text-success">Стандарт для данной модели</span></td>
            </tr>
            <tr>
                <th scope="row">Крючки для верхней одежды (второй ряд: 2, третий ряд: 2)</th>
                <td><span class="text-success">Стандарт для данной модели</span></td>
            </tr>
            <tr>
                <th scope="row">Крючки для верхней одежды (второй ряд: 2, третий ряд: 2)</th>
                <td><span class="text-success">Стандарт для данной модели</span></td>
            </tr>
            <tr>
                <th scope="row">Центральная консоль с отсеками для хранения</th>
                <td><span class="text-success">Стандарт для данной модели</span></td>
            </tr>
            <tr>
                <th scope="row">12V DC Коннектор аксессуаров: Спереди</th>
                <td><span class="text-success">Стандарт для данной модели</span></td>
            </tr>
            <tr>
                <th scope="col"><h3>TOYOTA SAFETY SENSE 2.0</h3></th>
                <th scope="col"></th>
            </tr>
            <tr>
                <th scope="col"><img src="~/Images/sih.png" width="151" height="62" /></th>
                <th scope="col">2021 LE AWD</th>
            </tr>
            <tr>
                <th scope="row">Система помощи удержания автомобиля в полосе (LTA)</th>
                <td><span class="text-success">Стандарт для данной модели</span></td>
            </tr>
            <tr>
                <th scope="row">Система предупреждения съезда с полосы с автоматическим возвращением (LDA)</th>
                <td><span class="text-success">Стандарт для данной модели</span></td>
            </tr>
            <tr>
                <th scope="row">Автоматический дальний свет (AHB)</th>
                <td><span class="text-success">Стандарт для данной модели</span></td>
            </tr>
            <tr>
                <th scope="row">Система предупреждения столкновений с определением пешеходов и велосипедов (PSC)</th>
                <td><span class="text-success">Стандарт для данной модели</span></td>
            </tr>
            <tr>
                <th scope="row">Всескоросной адаптивный круиз контроль с радаром (DRCC)</th>
                <td><span class="text-success">Стандарт для данной модели</span></td>
            </tr>
            <tr>
                <th scope="col"><h3>Информационно-развлекательная система</h3></th>
                <th scope="col"></th>
            </tr>
            <tr>
                <th scope="col"><img src="~/Images/sih.png" width="151" height="62" /></th>
                <th scope="col">2021 LE AWD</th>
            </tr>
            <tr>
                <th scope="row">Поддержка Apple CarPlay</th>
                <td><span class="text-success">Стандарт для данной модели</span></td>
            </tr>
            <tr>
                <th scope="row">Поддержка Android Auto</th>
                <td><span class="text-success">Стандарт для данной модели</span></td>
            </tr>
            <tr>
                <th scope="row">6 колонок</th>
                <td><span class="text-success">Стандарт для данной модели</span></td>
            </tr>
            <tr>
                <th scope="row">Поддержка Bluetooth </th>
                <td><span class="text-success">Стандарт для данной модели</span></td>
            </tr>
            <tr>
                <th scope="row">9" сенсорный экран</th>
                <td><span class="text-success">Стандарт для данной модели</span></td>
            </tr>
            <tr>
                <th scope="row">7 зарядных портов для USB</th>
                <td><span class="text-success">Стандарт для данной модели</span></td>
            </tr>
            <tr>
                <th scope="row"><span data-toggle="tooltip" tabindex="0" data-trigger="focus hover" data-placement="top" title="Система передачи голоса водителя через колонки автомобиля для задних пассажиров">Driver Easy Speak<sup>*</sup></span></th>
                <td><span class="text-success">Стандарт для данной модели</span></td>
            </tr>
            <tr>
                <th scope="col"><h3>Окна</h3></th>
                <th scope="col"></th>
            </tr>
            <tr>
                <th scope="col"><img src="~/Images/sih.png" width="151" height="62" /></th>
                <th scope="col">2021 LE AWD</th>
            </tr>
            <tr>
                <th scope="row">Автоматические стеклоподъемники с опусканием и подъемом стекла одним нажатием</th>
                <td><span class="text-success">Стандарт для данной модели</span></td>
            </tr>
            <tr>
                <th scope="row">Антиобледенитель заднего окна</th>
                <td><span class="text-success">Стандарт для данной модели</span></td>
            </tr>
            <tr>
                <th scope="col"><h3>Сиденья</h3></th>
                <th scope="col"></th>
            </tr>
            <tr>
                <th scope="col"><img src="~/Images/sih.png" width="151" height="62" /></th>
                <th scope="col">2021 LE AWD</th>
            </tr>
            <tr>
                <th scope="row">Подогрев передних сидений</th>
                <td><span class="text-success">Стандарт для данной модели</span></td>
            </tr>
            <tr>
                <th scope="row">Электро-регулируемое по 8 направлениям сиденье водиеля</th>
                <td><span class="text-success">Стандарт для данной модели</span></td>
            </tr>
            <tr>
                <th scope="row">Тканевые сиденья</th>
                <td><span class="text-success">Стандарт для данной модели</span></td>
            </tr>
            <tr>
                <th scope="row">Механически регулируемое по 4 направлениям сиденье пассажира</th>
                <td><span class="text-success">Стандарт для данной модели</span></td>
            </tr>
            <tr>
                <th scope="row">Третий ряд складных 60/40 сидений</th>
                <td><span class="text-success">Стандарт для данной модели</span></td>
            </tr>
            <tr>
                <th scope="col"><h3>Рулевое колесо</h3></th>
                <th scope="col"></th>
            </tr>
            <tr>
                <th scope="col"><img src="~/Images/sih.png" width="151" height="62" /></th>
                <th scope="col">2021 LE AWD</th>
            </tr>
            <tr>
                <th scope="row">Выдвижное и регулируемое по углу наклона</th>
                <td><span class="text-success">Стандарт для данной модели</span></td>
            </tr>
            <tr>
                <th scope="row">Подогреваемое и обшитое кожей</th>
                <td><span class="text-success">Стандарт для данной модели</span></td>
            </tr>
            <tr>
                <th scope="col"><h3>Климат контроль</h3></th>
                <th scope="col"></th>
            </tr>
            <tr>
                <th scope="col"><img src="~/Images/sih.png" width="151" height="62" /></th>
                <th scope="col">2021 LE AWD</th>
            </tr>
            <tr>
                <th scope="row">Воздужный фильтр салона</th>
                <td><span class="text-success">Стандарт для данной модели</span></td>
            </tr>
            <tr>
                <th scope="row">3-х зонный независимый автоматический климат контроль</th>
                <td><span class="text-success">Стандарт для данной модели</span></td>
            </tr>
            <tr>
                <th scope="col"><h3>Приборы</h3></th>
                <th scope="col"></th>
            </tr>
            <tr>
                <th scope="col"><img src="~/Images/sih.png" width="151" height="62" /></th>
                <th scope="col">2021 LE AWD</th>
            </tr>
            <tr>
                <th scope="row">4.2" цветной мульти-информационный дисплей</th>
                <td><span class="text-success">Стандарт для данной модели</span></td>
            </tr>
            <tr>
                <th scope="col"><h3>Внутренние зеркала</h3></th>
                <th scope="col"></th>
            </tr>
            <tr>
                <th scope="col"><img src="~/Images/sih.png" width="151" height="62" /></th>
                <th scope="col">2021 LE AWD</th>
            </tr>
            <tr>
                <th scope="row">Механически переключаемое зеркало заднего вида (День/Ночь)</th>
                <td><span class="text-success">Стандарт для данной модели</span></td>
            </tr>
            <tr>
                <th scope="row">Косметические зеркала с подсветкой</th>
                <td><span class="text-success">Стандарт для данной модели</span></td>
            </tr>
            <tr>
                <th scope="col"><h3>Колеса</h3></th>
                <th scope="col"></th>
            </tr>
            <tr>
                <th scope="col"><img src="~/Images/sih.png" width="151" height="62" /></th>
                <th scope="col">2021 LE AWD</th>
            </tr>
            <tr>
                <th scope="row">Замки на диски</th>
                <td><span class="text-success">Стандарт для данной модели</span></td>
            </tr>
            <tr>
                <th scope="row">17" легкосплавные диски</th>
                <td><span class="text-success">Стандарт для данной модели</span></td>
            </tr>
            <tr>
                <th scope="col"><h3>Стеклоочистители</h3></th>
                <th scope="col"></th>
            </tr>
            <tr>
                <th scope="col"><img src="~/Images/sih.png" width="151" height="62" /></th>
                <th scope="col">2021 LE AWD</th>
            </tr>
            <tr>
                <th scope="row">Передние стеклоочестители с регулирумым режимом работы</th>
                <td><span class="text-success">Стандарт для данной модели</span></td>
            </tr>
            <tr>
                <th scope="row">Антиобледенитель передних стеклоочестителей</th>
                <td><span class="text-success">Стандарт для данной модели</span></td>
            </tr>
            <tr>
                <th scope="row">Задний стеклоочеститель с регулирумым режимом работы</th>
                <td><span class="text-success">Стандарт для данной модели</span></td>
            </tr>
            <tr>
                <th scope="col"><h3>Экстерьер</h3></th>
                <th scope="col"></th>
            </tr>
            <tr>
                <th scope="col"><img src="~/Images/sih.png" width="151" height="62" /></th>
                <th scope="col">2021 LE AWD</th>
            </tr>
            <tr>
                <th scope="row">Передние и задние брызговики</th>
                <td><span class="text-success">Стандарт для данной модели</span></td>
            </tr>
            <tr>
                <th scope="row">Задний спойлер</th>
                <td><span class="text-success">Стандарт для данной модели</span></td>
            </tr>
            <tr>
                <th scope="col"><h3>Шины</h3></th>
                <th scope="col"></th>
            </tr>
            <tr>
                <th scope="col"><img src="~/Images/sih.png" width="151" height="62" /></th>
                <th scope="col">2021 LE AWD</th>
            </tr>
            <tr>
                <th scope="row">Временная запаска</th>
                <td><span class="text-success">Стандарт для данной модели</span></td>
            </tr>
            <tr>
                <th scope="row">P235/65R17</th>
                <td><span class="text-success">Стандарт для данной модели</span></td>
            </tr>
            <tr>
                <th scope="col"><h3>Внешние осветительные приборы</h3></th>
                <th scope="col"></th>
            </tr>
            <tr>
                <th scope="col"><img src="~/Images/sih.png" width="151" height="62" /></th>
                <th scope="col">2021 LE AWD</th>
            </tr>
            <tr>
                <th scope="row">Комбинированные светодиодные задние фонари</th>
                <td><span class="text-success">Стандарт для данной модели</span></td>
            </tr>
            <tr>
                <th scope="row">Светодиодные фары</th>
                <td><span class="text-success">Стандарт для данной модели</span></td>
            </tr>
            <tr>
                <th scope="row">Дневные ходовые огни</th>
                <td><span class="text-success">Стандарт для данной модели</span></td>
            </tr>
            <tr>
                <th scope="row">Высоко расположенный повторитель "Стоп" сигнала</th>
                <td><span class="text-success">Стандарт для данной модели</span></td>
            </tr>
            <tr>
                <th scope="col"><h3>Внешние зеркала</h3></th>
                <th scope="col"></th>
            </tr>
            <tr>
                <th scope="col"><img src="~/Images/sih.png" width="151" height="62" /></th>
                <th scope="col">2021 LE AWD</th>
            </tr>
            <tr>
                <th scope="row">Внешние зеркала с подогревом</th>
                <td><span class="text-success">Стандарт для данной модели</span></td>
            </tr>
            <tr>
                <th scope="col"><h3>Двигатель</h3></th>
                <th scope="col"></th>
            </tr>
            <tr>
                <th scope="col"><img src="~/Images/sih.png" width="151" height="62" /></th>
                <th scope="col">2021 LE AWD</th>
            </tr>
            <tr>
                <th scope="row"><span data-toggle="tooltip" tabindex="0" data-trigger="focus hover" data-placement="top" title="Возможность движения только на электродвигателе">Режим EV<sup>*</sup></span></th>
                <td><span class="text-success">Стандарт для данной модели</span></td>
            </tr>
            <tr>
                <th scope="col"><h3>Технические возможности</h3></th>
                <th scope="col"></th>
            </tr>
            <tr>
                <th scope="col"><img src="~/Images/sih.png" width="151" height="62" /></th>
                <th scope="col">2021 LE AWD</th>
            </tr>
            <tr>
                <th scope="row">Возможность переключения между режимами: SPORT, ECO, NORMAL </th>
                <td><span class="text-success">Стандарт для данной модели</span></td>
            </tr>
            <tr>
                <th scope="row">Пакет подготовки к буксировке: Охладитель Моторного Масла, Радиатор и Вентилятор для тяжелого режима работы</th>
                <td><span class="text-success">Стандарт для данной модели</span></td>
            </tr>
        </tbody>
    </table>
</div>

@section scripts
{
    <script type="text/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        })
    </script>
}